<div class="row" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </button>





  </nav>




  <div>

    <img id="drag2" src="/assets/concert.jpg" draggable="true" ondragstart="drag(event)" >



    <img id="drag3" src="/assets/map.png" draggable="true" ondragstart="drag(event)" >





  </div>




  <div id="forme" class="caption">

    <h3> <p>  Artiste: <<%= @show.name%> </p></h3>

    <h4> <p> Date: <%= @show.date%> </p></h4>

    <h4>  <p> Prix: <%=@show.price %></p></h4>

    <h4> <p>Nombre de place disonible: <%= @show.place %></p></h4>

    <h5><p id="bouton" class="btn btn-primary" role="button"> <%= link_to "Reserver", new_show_reservation_path(@show) %></p></h5>

  </div>

</div>